{% extends 'includes/master.html' %}
{% load static %}
{% block head %}
<style>
    .password-container {
        max-width: 400px;
        margin: auto;
        margin-top: 50px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        margin-bottom:20%;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .password-toggle {
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
    }
</style>
{% endblock head %}

{% block nav %}
    {% include 'sidebar.html' %}
{% endblock nav %}

{% block body %}
<div class="password-container">
    <h5 class="text-success">{{msg}}</h5>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="password">Password:</label>
            <div class="input-group">
                <input type="password" class="form-control" id="password" name="password">
                <span class="password-toggle" onclick="togglePassword('password')">
                    <i class="fas fa-eye"></i>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label for="confirm_password">Confirm Password:</label>
            <div class="input-group">
                <input type="password" class="form-control" id="confirm_password" name="confirm_password">
                <span class="password-toggle" onclick="togglePassword('confirm_password')">
                    <i class="fas fa-eye"></i>
                </span>
            </div>
        </div>

        <button type="submit" id="submitBtn" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock body %}

{% block script %}
<script>
    function togglePassword(inputId) {
        const input = document.getElementById(inputId);
        const type = input.getAttribute('type') === 'password' ? 'text' : 'password';
        input.setAttribute('type', type);
    }

    function validatePassword() {
        const password = document.getElementById('password').value;
        const confirm_password = document.getElementById('confirm_password').value;

        // Password conditions
        const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,16}$/;

        if (!passwordRegex.test(password)) {
            alert("Password must be 8 to 16 characters long and contain at least 1 uppercase letter, 1 lowercase letter, 1 number, and 1 special character.");
            return false;
        }

        if (password !== confirm_password) {
            alert("Passwords do not match.");
            return false;
        }

        return true;
    }

    document.getElementById('submitBtn').addEventListener('click', function (event) {
        if (!validatePassword()) {
            event.preventDefault(); // Prevent form submission if validation fails
        }
    });
</script>
{% endblock script %}
